.footer{
    background-color: #000;
    color: #fff;
}

.container--footer{

    width: 100%;
    height: 50vh;
    display: flex;
    direction: row;
    font-family: 'Open Sans', sans-serif;
}
.container--footer-left{

    width: 70vw;
    text-align: left;
    line-height: 1.5;
    font-size: inherit;
    color: rgb(186, 183, 183);
    padding: 3rem 5rem;
    padding-right: 20rem;

}
.footer--headline{

    color: #fff;
    font-size: medium;
    font-weight: 900;
    letter-spacing: .1rem;
    padding-bottom:2rem ;
}

.footer--para{
    padding-bottom: 1rem;
}
.footer--underline:hover{
    text-decoration: underline;
    color: white;
}

.footer--contacts{
    line-height: 2rem;
    color: rgba(203, 199, 199, 0.833);
    text-decoration: none;
    
}
.footer--contacts:hover{
    text-decoration: underline;
    color: white;
}

/* ----right------container-----of -------footer */
.container--footer-right{
    /* transition: .7s .2s ease-in; */
    width: 30vw;
    text-align: left;
    line-height: 1.5;
    font-size: inherit;
    color: rgb(186, 183, 183);
    padding: 3rem 5rem;

}

/*----horizontal----line---  */

.footer--horizontal{
    color: rgba(13, 13, 13, 0.523);
    /* display: flex; */
    border-right: none;
    border-left: none ;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 70vw;
    margin: auto;
    font-weight: 100;
    border-bottom: none;
    opacity: .4;
}


.footer--creater{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .12rem;
    color: rgb(186, 183, 183);
    font-size: medium;
    font-weight: 900;
    letter-spacing: .1rem;
    padding:1.5rem  0;
}
.footer--creater-site{
    text-decoration: none;
    padding-top: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: underline ;
}
.footer--link{
    display: block;
}



/*  -----responsive------- */
@media only screen and (max-width:1200px)  {
    .container--footer-left{
        padding-right: 0;
    }
}
@media only screen and (max-width:900px)  {
    .container--footer{
        padding-right: 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .container--footer-left{
        width: 100%;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    .container--footer-right{
        width: 100%;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
}

@media only screen and (max-width:600px)  {
    .container--footer{
        padding-right: 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .container--footer-left{
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .container--footer-right{
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

